.FormAddDevice {
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;

    .FormAddDevice-title {
        position: absolute;
        width: 178px;
        height: 36px;
        left: 224px;
        top: 104px;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FF7506;
    }

    .Form-title {
        position: absolute;
        width: 160px;
        height: 30px;
        left: 24px;
        top: 16px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #FF7506;
    }

    .FormAddDevice-form {
        position: absolute;
        width: 1152px;
        height: 550px;
        left: 224px;
        top: 156px;
        background: #FFFFFF;
        box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
        border-radius: 16px;

        .FormAddDevice-ma {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 540px;
            height: 76px;
            left: 24px;
            top: 66px;
        }


        .FormAddDevice-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 540px;
            height: 76px;
            left: 24px;
            top: 158px;
        }

        .FormAddDevice-address {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 540px;
            height: 76px;
            left: 24px;
            top: 250px;
        }

        .FormAddDevice-service {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 1104px;
            height: 76px;
            left: 24px;
            top: 342px;

        }

        .FormAddDevice-type {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 540px;
            height: 76px;
            left: 588px;
            top: 66px;
        }

        .FormAddDevice-NameLogin {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 540px;
            height: 76px;
            left: 588px;
            top: 158px;
        }

        .FormAddDevice-pass {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 540px;
            height: 76px;
            left: 588px;
            top: 250px;
        }

        .btn-add {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 24px;
            gap: 8px;
            position: absolute;
            width: 147px;
            height: 48px;
            left: 593px;
            bottom: -75px;
            background: #FF9138;
            box-shadow: 0px 0px 6px #E7E9F2;
            border-radius: 8px;
            color: #F7F7F7;

            &:hover {
                background: rgb(255, 145, 56, 0.6);
            }
        }

        .btn-exit {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 24px;
            gap: 8px;

            position: absolute;
            width: 147px;
            height: 48px;
            left: 415px;
            top: 579px;
            background: #FFF2E7;
            border: 1.5px solid #FF9138;
            box-shadow: 0px 0px 6px #E7E9F2;
            border-radius: 8px;

            &:hover {
                background: rgb(255, 242, 231, 0.6);
            }
        }
    }


}

.FormAddDevice-Lb {
    width: 130px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-error,
.FormAddDevice-ip {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 270px 10px 12px;
    gap: 10px;
    width: 540px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.input-error-dv,
.FormAddDevice-ip_DV {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 270px 10px 12px;
    gap: 10px;

    width: 1104px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.input-error-dv,
.input-error {
    border: 1px solid red;
}

.textError {
    position: absolute;
    right: 0px;
    color: red;
}