.devices {
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;

    .devices-action {
        position: absolute;
        width: 300px;
        height: 72px;
        left: 224px;
        top: 156px;

    }

    .device-Time {
        position: absolute;
        width: 300px;
        height: 72px;
        left: 548px;
        top: 156px;

    }

    .device-add {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 4px;
        gap: 4px;

        position: absolute;
        width: 80px;
        height: 94px;
        left: 1360px;
        top: 244px;
        background: #FFF2E7;
        box-shadow: 0px 0px 6px #E7E9F2;
        border-radius: 8px 0px 0px 8px;
        cursor: pointer;

        .icon-add {
            position: absolute;
            border-radius: 5px;
            width: 23px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            color: #fff;
            top: 20px;
            background: #FF9138;
        }

        .textAdd {
            position: absolute;
            width: 71px;
            height: 38px;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #FF7506;
            flex: none;
            flex-grow: 0;
            order: 1;
            flex-grow: 0;
            top: 46px;
        }
    }


    .device-search {
        position: absolute;
        width: 300px;
        height: 72px;
        left: 1036px;
        top: 156px;

        .search-item {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 16px 10px 12px;
            gap: 10px;
            position: absolute;
            width: 300px;
            height: 44px;
            background: #FFFFFF;
            border: 1.5px solid #D4D4D7;
            border-radius: 8px;
        }

        .btn-search {
            position: absolute;
            right: 10px;
            top: 36px;
            cursor: pointer;

            &:hover {
                color: #8889b6;
            }
        }

    }

    .Table {
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 1112px;
        height: 490px;
        left: 224px;
        top: 244px;
        filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
        overflow: hidden;
        border-radius: 12px;
        background-color: #FFFFFF;

        .Table-title {
            color: #FFFFFF;
            background-color: #FF9138;
        }
    }

    .nextPage-device {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0px;
        position: absolute;
        width: 288px;
        height: 32px;
        right: 103px;
        top: 758px;

        .btn-device {
            width: 32px;
            height: 32px;
            flex: none;
            order: 0;
            flex-grow: 0;
            border: none;
            background-color: transparent;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #7E7D88;

            // &:active {
            //     width: 32px !important;
            //     height: 32px !important;
            //     background: #FF7506;
            //     border-radius: 4px;
            //     flex: none;
            //     order: 1;
            //     flex-grow: 0;
            // }
        }

        .active {
            width: 32px !important;
            height: 32px !important;
            background: #FF7506;
            border-radius: 4px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: none;
        }

        .btn-device-next,
        .btn-device-back {
            width: 32px;
            height: 32px;
            flex: none;
            border: none;
            order: 0;
            flex-grow: 0;
            background-color: transparent;
            cursor: pointer;

        }
    }
}

.breadcrumb-item {
    position: absolute;
    top: 22px;
    left: 24px;
    width: 102px;
    height: 30px;
    font-weight: var(--fontWeight-nunito-bold);
    font-size: 25px;
    text-decoration: none;
    line-height: 30px;
    color: #FF9138 !important;
    flex: none;
    flex-grow: 0;
    order: 1;
    flex-grow: 0;
}

td,
th {
    height: 74px !important;
    min-width: 108px !important;
    text-align: left;
    padding: 8px;
    border: 1px solid #ffff;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:nth-child(even) {
    background-color: #FFF2E7;
}

.devices-ip {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    position: absolute;
    width: 180px;
    height: 44px;
    left: 0px;
    top: 30px;
    background: #FFFFFF;
    border: 1.5px solid #FFAC6A;
    border-radius: 8px;
}