.Services {
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;
    overflow: hidden;

    .Services-Title {
        position: absolute;
        width: 171px;
        height: 36px;
        left: 224px;
        top: 104px;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FF7506;
    }

    .Services-add {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 4px;
        gap: 4px;
        position: absolute;
        width: 80px;
        height: 94px;
        left: 1360px;
        top: 244px;
        background: #FFF2E7;
        box-shadow: 0px 0px 6px #E7E9F2;
        border-radius: 8px 0px 0px 8px;
        cursor: pointer;

        .icon-add {
            position: absolute;
            border-radius: 5px;
            width: 23px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            color: #fff;
            top: 20px;
            background: #FF9138;
        }

        .textAdd {
            position: absolute;
            width: 71px;
            height: 38px;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #FF7506;
            flex: none;
            flex-grow: 0;
            order: 1;
            flex-grow: 0;
            top: 46px;
        }
    }

    .Services-active {
        position: absolute;
        width: 300px;
        height: 72px;
        left: 224px;
        top: 156px;
    }

    .Services-Time {
        position: absolute;
        width: 320px;
        height: 72px;
        left: 548px;
        top: 156px;
    }

    .Services-search {
        position: absolute;
        width: 300px;
        height: 72px;
        left: 1036px;
        top: 156px;

        .search-item {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 16px 10px 12px;
            gap: 10px;
            position: absolute;
            width: 300px;
            height: 44px;
            background: #FFFFFF;
            border: 1.5px solid #D4D4D7;
            border-radius: 8px;
        }

        .btn-search {
            position: absolute;
            right: 10px;
            top: 36px;
            cursor: pointer;

            &:hover {
                color: #8889b6;
            }
        }
    }

    .Services-form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        width: 1112px;
        height: 490px;
        left: 224px;
        top: 244px;

        filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
        border-radius: 12px;

        .Table {
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            position: absolute;
            width: 1112px;
            height: 490px;
            filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
            overflow: hidden;
            border-radius: 12px;
            background-color: #FFFFFF;

            .Table-title {
                color: #FFFFFF;
                background-color: #FF9138;
            }
        }
    }
}

.Services-lb {
    position: absolute;
    width: 170px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}



.Services-date-end,
.Services-date-start {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    position: absolute;
    left: 0%;
    right: 53.12%;
    top: 36%;
    bottom: 0%;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.Services-date-end {
    position: absolute;
    left: 60.12%;
    right: 0%;
    top: 36%;
    bottom: 0%;
}

.Services-next {
    position: absolute;
    text-align: center;
    top: 39px;
    left: 173px;
    font-size: 24px;
}