.ResetPassWord-title {
    position: absolute;
    left: 10.75%;
    right: 69.6%;
    top: 39.51%;
    bottom: 56.42%;
    font-weight: var(--fontWeight-nunito-bold);
    font-size: 24px;
    line-height: 0px;
    color: #282739;
    text-align: center;
}

.ResetPassWord {
    position: absolute;
    width: 400px;
    height: 75px;
    left: 94px;
    top: 365px;
}

.EnterPassWord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 400px;
    height: 75px;
    left: 94px;
    top: 456px;
}

.ResetPassWord-LB {
    position: absolute;
    top: 4px;
    width: 168px;
    height: 27px;
    font-weight: var(--fontWeight-nunito-regular);
    font-size: 18px;
    line-height: 27px;
    color: #37474F;
}

.ResetPassWord-IP {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 12px;
    gap: 10px;
    position: absolute;
    width: 400px;
    height: 44px;
    top: 34px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.btn-confirm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;
    position: absolute;
    width: 162px;
    height: 40px;
    left: 200px;
    top: 579px;
    background: var(--color-origin);
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
}

.btn-confirm:hover {
    background: rgb(255, 145, 56, 0.7);
}

.error-sp {
    color: red;
    position: absolute;
    right: 0px;
    top: 9px;
}