.AccountManagementUpdate {
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;
    overflow: hidden;

    .AccountManagementUpdate-title {
        position: absolute;
        width: 194px;
        height: 36px;
        left: 224px;
        top: 104px;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FF7506;
    }

    .AccountManagementUpdate-form {
        position: absolute;
        width: 1192px;
        height: 534px;
        left: 224px;
        top: 150px;
        background: #FFFFFF;
        box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
        border-radius: 16px;

        .AccountManagementUpdate-form_title {
            position: absolute;
            width: 181px;
            height: 30px;
            left: 24px;
            top: 16px;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #FF7506;
        }

        .AccountManagementUpdate-form_name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 560px;
            height: 76px;
            left: 24px;
            top: 66px;
        }


        .AccountManagementUpdate-form_SDT {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 560px;
            height: 76px;
            left: 24px;
            top: 158px;
        }

        .AccountManagementUpdate-form_email {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 560px;
            height: 76px;
            left: 24px;
            top: 250px;
        }

        .AccountManagementUpdate-form_Role {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 560px;
            height: 76px;
            left: 24px;
            top: 342px;
        }

        .AccountManagementUpdate-form_userName {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 560px;
            height: 76px;
            left: 608px;
            top: 66px;
        }

        .AccountManagementUpdate-form_password {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 560px;
            height: 76px;
            left: 608px;
            top: 158px;
        }

        .AccountManagementUpdate-form_password1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 560px;
            height: 76px;
            left: 608px;
            top: 250px;
        }

        .AccountManagementUpdate-form_Action {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;

            position: absolute;
            width: 560px;
            height: 76px;
            left: 608px;
            top: 342px;
        }
    }

    .errorIp,
    .AccountManagementUpdate-form_Ip {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 270px 10px 12px;
        gap: 10px;
        width: 560px;
        height: 44px;
        background: #FFFFFF;
        border: 1.5px solid #D4D4D7;
        border-radius: 8px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .AccountManagementUpdate-form_LB {
        width: 150px;
        height: 24px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #282739;
        flex: none;
        flex-grow: 0;
        order: 0;
        flex-grow: 0;
    }

    .errorStart {
        position: relative;
        top: 10px;
        padding: 0 4px;
        color: red;
    }

    .btnform-exit {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 24px;
        gap: 8px;
        position: absolute;
        width: 147px;
        height: 48px;
        left: 410px;
        bottom: -78px;
        background: #FFF2E7;
        border: 1.5px solid #FF9138;
        box-shadow: 0px 0px 6px #E7E9F2;
        border-radius: 8px;
        color: #FF9138;
    }

    .btnform-add {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 24px;
        gap: 8px;
        position: absolute;
        width: 147px;
        height: 48px;
        left: 592px;
        bottom: -78px;
        border: none;
        background: #FF9138;
        color: #F7F7F7;
        box-shadow: 0px 0px 6px #E7E9F2;
        border-radius: 8px;
    }

    .errorMessage {
        position: absolute;
        right: 11px;
        color: red;
    }

    .errorIp {
        border: 1px solid red;
    }
}