.ForgotPassWord-title {
    position: absolute;
    left: 12.51%;
    right: 73.68%;
    top: 39.51%;
    bottom: 57.53%;
    font-weight: 700;
    font-size: 22px;
    line-height: 1px;
    text-align: center;
    color: #282739;
}

.ForgotPassWord-Email {
    position: absolute;
    width: 400px;
    height: 75px;
    left: 94px;
    top: 360px;
}

.ForgotPassWord_LB {
    position: absolute;
    width: 400px;
    height: 27px;
    font-weight: var(--fontWeight-nunito-regular);
    font-size: 16px;
    line-height: 27px;
    color: #37474F;
    text-align: center;
    top: 16px;
}

.ForgotPassWord_IP {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 270px 10px 12px;
    gap: 10px;
    position: absolute;
    width: 400px;
    height: 44px;
    top: 50px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.btn-exit {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;

    position: absolute;
    width: 162px;
    height: 40px;
    left: 118px;
    top: 483px;
    border: 1px solid var(--color-origin);
    filter: drop-shadow(0px 0px 6px #E7E9F2);
    border-radius: 8px;
    color: var(--color-origin);
    cursor: pointer;
}

.btn-done {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;
    position: absolute;
    width: 162px;
    height: 40px;
    left: 304px;
    top: 483px;
    background: var(--color-origin);
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.btn-done:hover {
    background: rgb(255, 145, 56, 0.8);
}